bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.DS_Store
.idea/
logs/
**/logs/
TestResults/
**/TestResults/
coverage/
**/coverage/
*.coverage
*.coveragexml
*.trx
appsettings.Local.json
.env
*.user
*.suo
